@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

li,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.f-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  height: 80px;
  background-color: #4b4237;
}

.navbar .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 36px;
  font-weight: bold;
  background-color: #d5a021;
  color: #eee;
  text-shadow: 0px 3px #000;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #d5a021;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer div a {
  position: absolute;
  top: -30px;
  width: 80px;
  height: 80px;
  font-size: 48px;
  border: none;
  border-radius: 50%;
  background-color: #d5a021;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: font-size 0.1s linear;
  transition: font-size 0.1s linear;
}

.footer div a.active {
  font-size: 28px;
}

.footer div a.active::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #eee;
}

.footer div a:hover {
  cursor: pointer;
}

.home-page {
  height: calc(100vh - 160px);
}

.home-page .home-container {
  padding: 0 12px;
}

.home-page .home-container .info {
  margin: 20px 0 60px 0;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 8px;
}

.home-page .home-container .info i {
  margin-right: 10px;
  color: #d5a021;
}

.home-page .home-container .start-btn-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page .home-container .start-btn-container button {
  width: 180px;
  height: 180px;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #bf8f1e, #dfac30);
  color: #eee;
  font-size: 72px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.home-page .home-container .start-btn-container button i {
  text-shadow: 2px 2px 8px rgba(41, 41, 41, 0.4), 1px 1px 4px rgba(22, 22, 22, 0.5);
}

.home-page .home-container .start-btn-container button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-list {
  position: absolute;
  left: 0;
  top: 80px;
  width: 100vw;
  height: calc(100vh - 160px);
  overflow-x: hidden;
}

.card-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 0;
  -webkit-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.card-list ul .card {
  width: 100%;
  padding: 100px 0;
  margin: 20px 10px 0 10px;
  position: relative;
  cursor: pointer;
  border-radius: 12px;
}

.card-list ul .card .front,
.card-list ul .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -webkit-transition: visibility 0.6s ease-in-out, opacity 0.25s ease-in-out 0.2s, -webkit-transform 0.6s ease-in-out;
  transition: visibility 0.6s ease-in-out, opacity 0.25s ease-in-out 0.2s, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, visibility 0.6s ease-in-out, opacity 0.25s ease-in-out 0.2s;
  transition: transform 0.6s ease-in-out, visibility 0.6s ease-in-out, opacity 0.25s ease-in-out 0.2s, -webkit-transform 0.6s ease-in-out;
  -webkit-box-shadow: 0px 6px 8px rgba(51, 51, 51, 0.3);
          box-shadow: 0px 6px 8px rgba(51, 51, 51, 0.3);
}

.card-list ul .card .front {
  background-image: linear-gradient(45deg, #bf8f1e, #dfac30);
  color: #eee;
  font-size: 3rem;
  font-weight: bold;
}

.card-list ul .card .back {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-image: linear-gradient(45deg, #e1e1e1, #fbfbfb);
  color: #4b4237;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-list ul .card .back .type,
.card-list ul .card .back .translation {
  margin-bottom: 10px;
}

.card-list ul .card.flipped .front {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-list ul .card.flipped .back {
  opacity: 1;
  visibility: visible;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.card-list .buttons-container {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100vw;
  padding: 12px;
}

.card-list .buttons-container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 6px;
  background-color: rgba(213, 160, 33, 0.4);
}

.card-list .buttons-container .info p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
}

.card-list .buttons-container p {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.card-list .buttons-container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card-list .buttons-container div button {
  border: 0;
  font-size: 24px;
  padding: 10px 0;
  border-radius: 6px;
  cursor: pointer;
  background-color: #eee;
  -webkit-box-shadow: 0px 2px #d5d5d5;
          box-shadow: 0px 2px #d5d5d5;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.card-list .buttons-container div button:first-child {
  color: #66b348;
}

.card-list .buttons-container div button:last-child {
  color: #bd3434;
}

.card-list .buttons-container div button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card-list .result-container {
  padding: 20px 12px;
}

.card-list .result-container .again-btn,
.card-list .result-container .words-link,
.card-list .result-container .reset-btn {
  display: block;
  width: 100%;
  font-size: 16px;
  border: 0;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 12px;
  -webkit-box-shadow: 0px 2px #d5d5d5;
          box-shadow: 0px 2px #d5d5d5;
  text-align: center;
  cursor: pointer;
}

.card-list .result-container .again-btn {
  background-color: #d5a021;
  color: #eee;
}

.card-list .result-container .words-link {
  background-color: #eee;
}

.card-list .result-container .reset-btn {
  background-color: #bd3434;
  color: #eee;
}

.words-page {
  padding: 20px 12px 100px 12px;
}

.words-page .word-modal {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.92);
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 12px;
  -webkit-transition: left ease-in-out 0.4s;
  transition: left ease-in-out 0.4s;
}

.words-page .word-modal .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  border: 0;
  background: none;
  color: #d5a021;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.words-page .word-modal .close-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.words-page .word-modal h1 {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.words-page .word-modal h1 span i.fa-check {
  font-size: 24px;
  color: #66b348;
}

.words-page .word-modal h1 span i.fa-times {
  font-size: 24px;
  color: #bd3434;
}

.words-page .word-modal h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 120px;
  height: 4px;
  border-radius: 6px;
  background-color: #d5a021;
}

.words-page .word-modal p {
  margin-bottom: 10px;
}

.words-page .word-modal p b {
  color: #d5a021;
}

.words-page .word-modal .buttons-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.words-page .word-modal a,
.words-page .word-modal .edit-btn {
  background-color: #eee;
  font-size: 14px;
  font-weight: 400;
  color: #3598aa;
  padding: 6px;
  border-radius: 3px;
  margin-top: 20px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.words-page .word-modal .edit-btn.remove {
  background-color: #bd3434;
  color: #eee;
}

.words-page .word-modal .edit-btn.move {
  background-color: #3598aa;
  color: #eee;
}

.words-page .word-modal a:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.words-page .word-modal.active {
  left: 0;
}

.words-page .words-container .titles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.words-page .words-container .titles button {
  border: 0;
  font-size: 16px;
  padding: 8px 0;
  border-radius: 6px;
  cursor: pointer;
  background-color: #eee;
  -webkit-box-shadow: 0px 2px #d5d5d5;
          box-shadow: 0px 2px #d5d5d5;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.words-page .words-container .titles button.active {
  background-color: #d5a021;
  color: #eee;
}

.words-page .words-container .words .known,
.words-page .words-container .words .unknown {
  display: none;
}

.words-page .words-container .words .known ul li,
.words-page .words-container .words .unknown ul li {
  padding: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.words-page .words-container .words .known ul li:nth-child(even),
.words-page .words-container .words .unknown ul li:nth-child(even) {
  background-color: #eee;
}

.words-page .words-container .words .known ul li:nth-child(even) button,
.words-page .words-container .words .unknown ul li:nth-child(even) button {
  background-color: #fff;
}

.words-page .words-container .words .known ul li button,
.words-page .words-container .words .unknown ul li button {
  border: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #eee;
  color: #4b4237;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.words-page .words-container .words .known ul li button:active,
.words-page .words-container .words .unknown ul li button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.words-page .words-container .words .known.active,
.words-page .words-container .words .unknown.active {
  display: block;
}
/*# sourceMappingURL=App.css.map */