.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $color-2;
  display: grid;
  grid-template-columns: 1fr 1fr;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    a {
      position: absolute;
      top: -30px;
      width: 80px;
      height: 80px;
      font-size: 48px;
      border: none;
      border-radius: 50%;
      background-color: $color-2;
      color: $color-3;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: font-size 0.1s linear;
    }

    a.active {
      font-size: 28px;
    }

    a.active::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 2px solid $color-3;
    }

    a:hover {
      cursor: pointer;
    }
  }
}

// Media Queries
@media (min-width: 768px) {
  .footer {
    padding: 0 calc(50vw - 250px);
  }
}
